@media (min-width: 768px max-width: 990px) {



    *{width:auto;
    height:auto;} 
    
    a {
        color: #000000;
      }
      /***********************************
      ********     header*****************
      ************************************/
      .imgsize {
        width: 250px;
        height: auto;
        padding-top: 10px;
          padding-bottom: 10px;    }
      body {
        margin-left:auto;
        margin-right:auto;
        display: flex;
        flex-direction: column;
  } 
  main {
    max-width:990;
    display: flex;
    flex-direction: column;
    justify-items: center;
  
  }
  
       
      
       
   div#searchbar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
      width:100%;
    border-top:none;
  }
  div#searchbar p{
    margin-right: 10px;
    margin-right: auto;
  
    }
      #search-reserve {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
  
      }
      
    
      div#searchbar {
        background-color: #ffffff;
        width:100%;
  
    
      }
      #searchbar{ 
        flex-basis: 75%;
        background-color: #ffffff;
      }
      div#reserve {
        width:100%;
        display: flex;
        flex-direction: column;
        margin-left:auto;
        margin-right:auto;
        padding-bottom: 20px;
        padding-top: 10px;
        background-image: url("../images/restaurants/header-blur.jpg") ;
        background-size:cover;
        background-position: center;
        flex:1;
        
      
      }
      div#reserve h1 {
        font-family: "Shrikhand";
      padding-top:0px;
        font-size: 40px;
        color: #fff;
      }
      div#reserve p {
        padding-top: 0px;
        font-size: 25px;
        color: #ffffff;
        font-weight: bolder;
      }
      #reserve a.explore button {
        font-size: 18px;
        margin-top:0px;
  
  
      
      }
      /*********************************
  ************howto*****************
  *********************************/
  
  section#howto-restaurants {
  
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-bottom: 0px;
    margin-left:auto;
    margin-right:auto;
    gap:0px;
  }
    section#howto-restaurants h2 {
      display: none;
  
  }
  
  /*********************************
  ************howto*****************
  *********************************/
  article#howto {
    width: 100%;
    height: auto;
    margin-left:auto;
    margin-right:auto; 
    padding-top: 30px; 
    align-items: center;
  padding-bottom: 30px;
    margin-bottom: 0px;
    flex: 1;
  
  }
  article#howto h2 {
    margin :0px;
    padding-bottom: 20px;
    padding-top: 0px;
    margin-left: 30px; 
  
  }
  
  ul.how{
    flex-basis: 100%;
    width: 90%;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
  
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
  }
  
  #text{display: flex;
    justify-items: flex-end;
    align-items: flex-end;
    text-align: right;
  }
  
   
  
  article#restaurants  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0px;
    padding-top: 0px;
    padding-bottom: 30px;
    width:80%;
    justify-content: space-evenly;
    background-color:#e7e7e7;
  

  
  }
  article#restaurants a {
    margin-right: 0px;
    margin-left: 0px;
    flex-wrap: wrap;

  }
  
  article#restaurants h2 {
    text-align: center;
    flex-basis: 100%;
    align-items: center;
    justify-items: center;
    width: fit-content;
    padding: 0px;
    margin-left: 0px;
  
  }
    
  
  
  article#restaurants figure {
  height: fit-content;
  flex-shrink: 1;
  margin: 5px;
  align-items: center;
  
  
  }
  
  span.outline {
    color:#00000065;
    position:absolute;
    top: 3px;
    left: 0px;
    }
  #restaurants img {
    width: 264px;
    height:140px;
  
  }
  footer {
    width:100%;
    justify-items: center;
    align-items: center;
    margin-top:0px;
  }
  footer ul {
  
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
    
  footer ul li {
    justify-content: space-between;
    align-items:baseline;
    list-style: none;
    margin: 0px;
    padding: 0px 0px 10px 0px;
  }
  
  footer ul li a {
    text-align: left;
  
  
  
  
  }
  
  footer ul li a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    color: #ffffff;
    justify-content: space-between;
  
  
  }
  }